* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}

/* common */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.7;
}

.contain {
    max-width: calc(100% - 500px);
    margin: 0 auto;
}

/* header */

.header {
    background: white;
    padding-top: 26px;
    padding-bottom: 20px;
    position: sticky;
    top: -26px;
    z-index: 1;
    margin-bottom: 80px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__nav {
    margin-top: 10px;
    margin-left: 180px;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__list li:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.header__action {
    display: flex;
    margin-top: 15px;
}

.header__title {
    margin-top: 5px;
    margin-left: 16.07px;
    color: #000;
    font-size: 33.882px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.913px;
}

.header__item {
    color: #000;
    font-size: 2.0rem;
    font-weight: 400;
}

.header__about {
    text-shadow: 1px 0 0 currentColor;
}

.header__social {
    margin-left: 120px;
}

.header__click {
    display: block;
    margin-left: 27px;
    border-radius: 15px;
    background: #ffd937;
    border-color: #ffd937;
    width: 156px;
    height: 44px;
}

/* About-Me */
.about__title {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin-right: 0px;
    font-size: 60px;
    font-weight: 392px;
    background-image: url("../img/aboutme.png");
    background-size: 100% 100%;
    width: 100%;
    height: 390px;
}

.section1 {
    width: 1500px;
    height: 600px;
    display: flex;
    margin: 200px 0px;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.section1 img {
    width: 604px;
    height: 600px;
    margin-right: 100px;
    flex-basis: 40%;
}

.section2 {
    width: 1500px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.img-shower {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
}

.img-shower > img {
    margin: 10px;
}

.section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header {
    color: #000;
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.832px; /* 92.457% */
    text-transform: capitalize;
    margin-bottom: 30px;
}

.section-header::after {
    content: "";
    margin-top: 30px;
    width: 150px;
    height: 5px;
    display: block;
    background-color: rgb(255, 217, 55);
}

.section-text {
    width: 807px;
    height: auto;
    margin-bottom: 30px;
    flex-shrink: 0;
    color: #000;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.9px; /* 161.875% */
    text-transform: capitalize;
}

/* As seen in */

.background {
    margin-top: 297px;
    width: 100%;
    height: 692px;
    background-color: #fafafa;
}

.text__content {
    margin-top: -564px;
    color: black;
    font-size: 42px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 48px;
    word-wrap: break-word;
    text-align: center;
}

.vector {
    border: 4px #ffd937 solid;
    width: 145px;
    margin-left: 880px;
    margin-top: 28px;
}

.logo1 {
    margin-top: 50px;
    margin-left: 440px;
}

.logo2 {
    margin-left: 40px;
}

.logo3 {
    margin-left: 40px;
}

.logo4 {
    margin-top: 50px;
    margin-left: 440px;
}

.logo5 {
    margin-left: 40px;
}

.logo6 {
    margin-left: 40px;
}

/* signup */
.signup {
    margin-top: 150px;
    background-image: url("../img/signup.png");
    width: 100%;
    height: 481px;
}

.signup__title {
    padding-top: 101px;
    color: #fff;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 38.832px;
    /* 161.8% */
    text-transform: capitalize;
}

.signup__desc {
    margin-top: 21px;
    color: #fff;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 38.832px;
    /* 161.8% */
    text-transform: capitalize;
}

.signup__email {
    margin-top: 31px;
    margin-left: 38.5%;
    width: 472px;
    height: 61px;
    border-radius: 10px;
    border: 1px solid #ffd937;
    background: rgba(0, 0, 0, 0.05);
    color: #fff;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60.124px;
    padding-left: 35px;
}

.signup__action {
    display: block;
    margin-top: 21px;
    width: 281px;
    height: 61px;
    margin-left: 43.5%;
    border-radius: 10px;
    background: #ffd937;
    color: #000;
    text-align: center;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60.124px;
    /* 161.8% */
}

/* footer */

.footer__row {
    margin-top: 98px;
    display: flex;
    gap: 80px;
    margin-bottom: 50px;
}

.footer__column--max {
    width: 400px;
}

.footer__desc {
    margin-top: 30px;
    color: #000;
    font-family: Noto Sans;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 25.888px;
}

.footer__info {
    color: #000;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 38.832px;
    /* 161.8% */
    text-transform: capitalize;
}

.footer__item {
    color: #000;
    font-family: Noto Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 42.388px;
}

.footer__social {
    margin-top: 20px;
}
