* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}

/* common */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.7;
}

.contain {
    max-width: calc(100% - 500px);
    margin-left: auto;
    margin-right: auto;
}

/* header */

.header {
    background: white;
    padding-top: 26px;
    padding-bottom: 20px;
    position: sticky;
    top: -26px;
    z-index: 1;
    margin-bottom: 80px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__nav {
    margin-top: 10px;
    margin-left: 180px;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__list li:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.header__action {
    display: flex;
    margin-top: 15px;
}

.header__title {
    margin-top: 5px;
    margin-left: 16.07px;
    color: #000;
    font-size: 33.882px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.913px;
}

.header__item {
    color: #000;
    font-size: 2rem;
    font-weight: 400;
}

.header__contract {
    text-shadow: 1px 0 0 currentColor;
}

.header__social {
    margin-left: 120px;
}

.header__click {
    display: block;
    margin-left: 27px;
    border-radius: 15px;
    background: #ffd937;
    border-color: #ffd937;
    width: 156px;
    height: 44px;
}

/* Contract-Me */
.contact__title {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin-right: 0px;
    font-size: 60px;
    font-weight: 392px;
    background-image: url("../img/contractme.png");
    background-size: 100% 100%;
    width: 100%;
    height: 390px;
}

/* Content_left */

.about__title {
    margin-top: -650px;
    margin-left: 196px;
    width: 645px;
    height: 849px;
    font-size: 42px;
    font-weight: 600;
}

.about__desc {
    margin-top: -725px;
    margin-left: 196px;
    max-width: 645px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 29.12px;
    word-wrap: break-word;
}
.about__desc2 {
    max-width: 645px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 29.12px;
    word-wrap: break-word;
}

.phone {
    margin-top: 20px;
    margin-left: 196px;
    background-color: #ffd937;
    border-radius: 15px;
    width: 83px;
    height: 83px;
}

.email {
    margin-top: 20px;
    margin-left: 196px;
    background-color: #ffd937;
    border-radius: 15px;
    width: 83px;
    height: 83px;
}

.about__desc2 {
    margin-top: 25px;
    margin-left: 196px;
    width: 785px;
}

.content__phone1 {
    margin-top: -70px;
    margin-left: 300px;
    font-size: 20px;
}

.content__phone2 {
    margin-top: 10px;
    margin-left: 300px;
    font-size: 36px;
    font-weight: 600;
    line-height: 29.12px;
    word-wrap: break-word;
}

.content__email1 {
    margin-top: -70px;
    margin-left: 300px;
    font-size: 20px;
}

.content__email2 {
    margin-top: 10px;
    margin-left: 300px;
    font-size: 36px;
    font-weight: 600;
    line-height: 29.12px;
    word-wrap: break-word;
}

/* Contact-send */
.contact__send {
    margin-top: 123px;
    margin-left: 55%;
    width: 785px;
    height: 849px;
    background: white;
    box-shadow: 0px 12px 43px -2px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.contact__name {
    margin-left: 41px;
    width: 331px;
    height: 61px;
    border: 1px #e7e7e7 solid;
    background: #fafafa;
    color: #000;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60.124px;
    padding-left: 5px;
}
.contact__last {
    margin-left: 25px;
    width: 331px;
    height: 61px;
    border: 1px #e7e7e7 solid;
    background: #fafafa;
    color: #000;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60.124px;
    padding-left: 5px;
}

.title__name {
    padding-top: 68px;
    padding-left: 41px;
    padding-bottom: 15px;
    font-weight: bolder;
}

.shadow {
    width: 785px;
}
.shadow__first {
    float: left;
    width: 200px;
    margin-left: 41px;
    margin-top: 7px;
    font-weight: 450;
}

.shadow__last {
    float: left;
    margin-left: 160px;
    margin-top: 7px;
    font-weight: 450;
}

.title__email {
    margin-top: 45px;
    font-weight: bolder;
    margin-left: 41px;
}

#contact__email {
    margin-top: 15px;
    margin-left: 41px;
    width: 686px;
    height: 61px;
    border: 1px #e7e7e7 solid;
    background: #fafafa;
    color: #000;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60.124px;
    padding-left: 5px;
    margin-bottom: 5px;
}
#email__error{
    padding-left: 40px ;
    color: red;
}

.title__subject {
    margin-top: 25px;
    margin-left: 41px;
    font-weight: bolder;
}

.contact__subject {
    margin-top: 15px;
    margin-left: 41px;
    width: 686px;
    height: 61px;
    border: 1px #e7e7e7 solid;
    background: #fafafa;
    color: #000;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60.124px;
    padding-left: 5px;
}

.title__message {
    margin-top: 25px;
    margin-left: 41px;
    font-weight: bolder;
}

.contact__message {
    margin-top: 15px;
    margin-left: 41px;
    width: 686px;
    height: 280px;
    border: 1px #e7e7e7 solid;
    background: #fafafa;
    color: #000;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 5px;
}


.contact__button {
    margin-top: 15px;
    width: 171px;
    height: 44px;
    margin-left: 41px;
    border-radius: 15px;
    border-color: #ffd937;
    background: #ffd937;
    text-align: center;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 500;
}

/* As seen in */

.background {
    margin-top: 297px;
    width: 100%;
    height: 692px;
    background-color: #fafafa;
}

.text__content {
    margin-top: -564px;
    color: black;
    font-size: 42px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 48px;
    word-wrap: break-word;
    text-align: center;
}

.vector {
    border: 4px #ffd937 solid;
    width: 145px;
    margin-left: 880px;
    margin-top: 28px;
}

.logo1 {
    margin-top: 50px;
    margin-left: 440px;
}

.logo2 {
    margin-left: 40px;
}

.logo3 {
    margin-left: 40px;
}

.logo4 {
    margin-top: 50px;
    margin-left: 440px;
}

.logo5 {
    margin-left: 40px;
}

.logo6 {
    margin-left: 40px;
}

/* signup */
.signup {
    margin-top: 150px;
    background-image: url("../img/signup.png");
    width: 100%;
    height: 481px;
}

.signup__title {
    padding-top: 101px;
    color: #fff;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 38.832px;
    /* 161.8% */
    text-transform: capitalize;
}

.signup__desc {
    margin-top: 21px;
    color: #fff;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 38.832px;
    /* 161.8% */
    text-transform: capitalize;
}

.signup__email {
    margin-top: 31px;
    margin-left: 38.5%;
    width: 472px;
    height: 61px;
    border-radius: 10px;
    border: 1px solid #ffd937;
    background: rgba(0, 0, 0, 0.05);
    color: #fff;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60.124px;
    padding-left: 35px;
}

.signup__action {
    display: block;
    margin-top: 21px;
    width: 281px;
    height: 61px;
    margin-left: 43.5%;
    border-radius: 10px;
    background: #ffd937;
    color: #000;
    text-align: center;
    font-family: Noto Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60.124px;
    /* 161.8% */
}

/* footer */

.footer__row {
    margin-top: 98px;
    display: flex;
    gap: 80px;
    margin-bottom: 50px;
}

.footer__column--max {
    width: 400px;
}

.footer__desc {
    margin-top: 30px;
    color: #000;
    font-family: Noto Sans;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 25.888px;
}

.footer__info {
    color: #000;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 38.832px;
    /* 161.8% */
    text-transform: capitalize;
}

.footer__item {
    color: #000;
    font-family: Noto Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 42.388px;
}

.footer__social {
    margin-top: 20px;
}
